  APIKEY: "COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE",
  AUTHDOMAIN: "COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE,
  PROJECTID: "COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE,
  STORAGEBUCKET: "COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE,
  MESSAGINGSENDERID: "COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE,
  APPID: "COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE"

 