  REACT_APP_APIKEY = COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE
  REACT_APP_AUTHDOMAIN = COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE
  REACT_APP_PROJECTID = COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE
  REACT_APP_STORAGEBUCKET = COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE
  REACT_APP_MESSAGINGSENDERID = COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE
  REACT_APP_APPID = COLE AQUI AS CREDENCIAIS GERADAS PELO FIREBASE

 